body {
  margin: 10px auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 50%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media only screen and (max-width: 1048px) {
  body {
    width: 70%;
  }
}

@media only screen and (max-width: 648px) {
  body {
    width: 85%;
  }
}

@media only screen and (max-width: 548px) {
  body {
    width: 100%;
  }
}
